:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --adress-link: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --dark-bg: #2f303a;
  --light-bg: #e5e5e5;
  --team-bg: #f5f4fa;
}
